imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr
    app.path.product_images: /uploads/images/products

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments:       ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true


# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    form_themes:
      - 'bootstrap_3_layout.html.twig'
    paths:
            "%kernel.root_dir%": app

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            FOSUserBundle: ~
            YZUserBundle: ~

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

assetic:
  debug:          '%kernel.debug%'
  use_controller: '%kernel.debug%'



fos_user:
  db_driver:      orm
  firewall_name:  main
  user_class:  YZ\UserBundle\Entity\User

  registration:
    form:
      name: yz_user_registration
      type: YZ\UserBundle\Form\Type\RegistrationFormType



  from_email:
    address: "yassine.zakari@hotmail.fr"
    sender_name: "Yassine zakari"

easy_admin:
    entities:
      Product:
        class: YZ\EcommerceBundle\Entity\Product
        label: Produits
        list:
          fields:
            - { property: 'titre', label: 'Titre' }
            - { property: 'resume', label: 'Resume', type: text }
            - { property: 'prix', label: 'Prix', type: price }
            - { property: 'imageProduit', type: 'image', base_path: '%app.path.product_images%' }
      User:
        class: YZ\UserBundle\Entity\User
        acme_project:
          export_path: '%kernel.root_dir/../var/export/user'
          password_encoding: { algorithm: 'bcrypt', cost: 12 }
        label: Membres
        show:
          fields:
            - { property: username, label: Pseudo}
            - { property: nom, type: text, label: Nom }
            - { property: prenom, type: text, label: Prénom }
            - { property: email, type: email, label: Email }
            - { property: telephone, type: tel, label: Téléphone }
            - { property: 'roles', template: 'admin/fields/tag_collection.html.twig',
                        label_colors: ['primary', 'success', 'info'] }
            - { property: adresse, type: text, label: Adresse }
            - { property: enabled, label: actif }
            - { property: lastLogin, label: Dernière Connexion, type: datetimetz, format: 'd M Y h:m:i'}

        list:
          title: 'liste des membres'
          actions:
            - { name: show, css_class: btn btn-primary}
            - { name: edit, css_class: btn btn-success}
            - { name: delete, css_class: btn btn-danger}
          fields:
            - { property: username, label: Pseudo}
            - { property: fullName, label: Utilisateur}
            - { property: enabled, label: actif, type: toggle }
            - { property: email, type: email }
            - { property: lastLogin, label: Dernière Connexion, type: datetimetz, format: 'd M Y h:m:i'}
            - { property: 'roles', template: 'admin/fields/tag_collection.html.twig',
                        label_colors: ['primary', 'success', 'info'] }

        form:
          fields:
            - { property: username, label: Pseudo}
            - nom
            - prenom
            - email
            - { property: adresse, type: text }
            - { property: telephone, type: integer }
            - { property: enabled, label: actif }
            - { property: 'roles', type: 'choice', type_options: { multiple: true, expanded: true, choices: { 'Utilisateur': 'ROLE_USER', 'Administrateur': 'ROLE_SUPER_ADMIN' } } }
          form_options: { validation_groups: ['Profile'] }
        new:
          fields:
            - '-id'
            - { property: 'plainPassword', type: 'repeated' }

    site_name: DevShop
    design:
      assets:
        css:
          - 'styles/back_office.css'
      brand_color: '#0e8ce4'
      templates:
        field_datetimetz: 'admin/fields/_datetimetz.html.twig'
        show: 'admin/_show.html.twig'

vich_uploader:
    db_driver: orm
    mappings:
      product_images:
        uri_prefix:         '%app.path.product_images%'
        upload_destination: '%kernel.root_dir%/../web/uploads/images/products'
